.imgStyle {
  @apply bg-gradient-to-r from-blue-500 to-indigo-600;
  position: relative;
  overflow: hidden;
}

.bgImage {
  background-image: url("../public/asset/login-bg.jpg");
  background-size: cover;
}
